:root {
    --primary: rgb(137, 167, 137);
    --secondary: rgb(182, 255, 182);
    --shadow: 5px 5px 5px grey;
    --highlight: rgb(131, 255, 137);
    --bord: 10px
}

* {
    scroll-behavior:smooth;
  }

header {
    background-image: url(../images/Bkgrnd_tree45_copy.jpg);
    padding-top: 60px;
    padding-bottom: 10px;
    display: flex;
    flex: 10px;
    justify-content: left;
}

header h1 {
    padding-left: 20px;
    text-align: center;
    font-style: Sans-serif;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    background: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

nav {
    display: flex;
    flex: 10px;
    background-color: var(--primary);
    justify-content: right;
    padding: 14px;
}

nav a {
    color: #13293d;
    text-decoration: none;
    font-style: Sans-serif;
    text-align: center;
    border-radius: 15px;
    padding: 8px 8px;
    margin: 8px;
    background-color: var(--secondary);
    white-space: nowrap;
    box-shadow: var(--shadow);
}

nav a:hover {
    box-shadow: inset 20px 20px 15px var(--highlight), 8 8 20px var(--highlight);
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

footer {
    text-align: center;
    margin: 20px;
}

.about {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.headt {
    padding-left: 20px;
    text-align: center;
    font-style: Sans-serif;
    font-size: 30px;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    background: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.headt p {
    position:absolute;
    
}


.abouttext {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: var(--shadow);
    margin: 20px;
    justify-content: center;
    align-items: center;
    position:relative;
}


.abouttext img {
    width: 20%;
    justify-content: center;
    flex: 1 1 100%;
}

.bodyt {
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    padding: 10px;
    box-shadow: var(--shadow);
    margin: 20px;

}

.arttitle {
    padding-left: 20px;
    text-align: center;
    font-style: Sans-serif;
    font-size: 30px;
    margin: 20px;
    padding: 5px;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    background: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: var(--shadow);
}

.bigart {
    padding-left: 20px;
    margin: 20px;
    text-align: center;
    font-style: Sans-serif;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: var(--shadow);
}

.bigart header {
    padding-left: 20px;
    text-align: center;
    font-style: Sans-serif;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    background: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    flex: 10px;
    justify-content: center;
}

.bigart img {
    width: 100%
}

.bigart:hover {
    box-shadow: inset 0px 0px 8px var(--highlight), 0 0 15px var(--highlight);
}


.art {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.artstuff {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    padding: 10px;
    box-shadow: var(--shadow);
    margin: 20px;
}

.artstuff header {
    padding-left: 20px;
    text-align: center;
    font-style: Sans-serif;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: var(--bord);
    border-color: var(--primary);
    background: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    flex: 10px;
    justify-content: center;
}

.artstuff p {
    text-align: center;
}

.artstuff img {
    width: 100%
}



.artstuff:hover {
    box-shadow: inset 0px 0px 8px var(--highlight), 0 0 15px var(--highlight);
}

.Contact {
    display: flex;
    flex: 10px;
    background-color: var(--primary);
    justify-content: center;
    padding: 14px;
}

.Contact a {
    color: #13293d;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    padding: 8px 8px;
    margin: 8px;
    background-color: var(--secondary);
    white-space: nowrap;
    box-shadow: var(--shadow);
}

.Contact a:hover {
    box-shadow: inset 0px 0px 8px var(--highlight), 0 0 15px var(--highlight);
}


/*
@media screen and (min-width: 768px) {
    .art {
      flex: 0 0 50%;
      max-width: 50%;
      flex-direction: column;
    }
    .art:last-child {
        flex-grow: 1;
        flex-shrink: 1;
    }
}


@media screen and (min-width: 992px) {
    .art {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .art:last-child {
        flex-grow: 1;
        flex-shrink: 1;
    }
}
*/
@media screen and (min-width: 440px) {
    .artstuff {
      width: 100%;
    }
  }

@media screen and (min-width: 992px) {
    /* .art {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .art:last-child {
        flex-grow: 1;
        flex-shrink: 1;
    } */
    .art {
        display: flex;
        /* flex: 0 0 100%; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .artstuff {
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        /* flex: 0 0 300px; */
        width: 40%;
        border-style: solid;
        border-width: var(--bord);
        border-color: var(--primary);
        padding: 10px;
        box-shadow: var(--shadow);
        margin: 20px;
    }
}